@page "/"
@using MyCheeseShop.Context
@using MyCheeseShop.Model
@using MyCheeseShop.Components

@inject CheeseProvider CheeseProvider
<PageTitle>Home</PageTitle>

<input type="text" class="form-control" placeholder="Search for cheese..." @bind:event="oniput">
@if (cheeses is null)
{
    <p>Loading...</p>
}
else if (!cheeses.Any())
{
    <p>No cheeses found</p>
}

<div class="row">
    @foreach (var cheese in Filteredcheeses)
    {
        <div class="col-md-3">
            <StoreItem Cheese="cheese" />
        </div>
    }
</div>

@if (!Filteredcheeses.Any())
{
    <p>No cheeses found</p>
}
@code {
    private IEnumerable<Cheese> cheeses;
    

    protected override async Task OnInitializedAsync()
    {
        cheeses = await CheeseProvider.GetAllCheesesAsync();
    }
}


